{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}

<header>
    <p class="bg-dark">Immobilier</p>
</header>

<div class="content">
    <p>Le contenu du site ici...</p>
</div>

{% endblock %}
