*{
    background:rgb(255, 255, 255);
}

header{
    color:rgb(255, 255, 255);
}

.content{
    color:rgb(0, 0, 0); 
}

footer{
 color: rgb(0, 0, 0); 
}


#content{
    min-height: 100vh;
}

.card .list-group_item:last-child{
    min-height: 97px;
}