{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12"
    </div>
</div>

{{form(contactForm)}}

{% endblock %}
