{% extends 'base.html.twig' %}

{% block title %}{% trans %}erreur 404{% endtrans %}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/erreur.css') }}">
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p>La page que vous cherchez n'a pas pu être trouvée ou n'existe pas </p>
            <p><a href="{{ path('home') }}">Retourner à l'acceuil</a> </p>
        </div>
    </div>
</div>
{% endblock %}